# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
cache
*/cache/*
web/uploads/*
web/bundles/*
bin

# Configuration files
app/config/parameters.yml
app/config/config_irc.yml

# phar
composer.phar
symfttpd.phar
