whisnet_irc_bot:
    connection_class: Whisnet\IrcBotBundle\Connection\Socket
    host: irc.freenode.net
    port: 6667
    command_prefix: !bot
    user:
        username: IrcBotBunle
        mode: 8
    channels: ["#test-irc"]
